version: '3'

services:
  ubuntu:
    build:
      context: .
      dockerfile: Ubuntu.Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./volume/ubuntu/etc/nginx/sites-enabled:/etc/nginx/sites-enabled

      - ./magento:/var/www/
    depends_on:
      - php
      - db
  php:
    build:
      context: .
      dockerfile: Php.Dockerfile
    volumes:
      - ./magento:/var/www/
    depends_on:
      - db
    links:
    - db
  db:
    image: mysql:8
    # restart: always
    environment:
      MYSQL_DATABASE: magento_demo
      MYSQL_USER: test
      MYSQL_PASSWORD: Abcde123
      # MYSQL_RANDOM_ROOT_PASSWORD: '1'
      MYSQL_ROOT_PASSWORD: Abcde123
    volumes:
      # - ./mysqldump/sunshinepa_db.sql:/docker-entrypoint-initdb.d/sunshinepa_db.sql  
      - 'mariadb_data:/var/lib/mysql'
  adminer:
    image: adminer
    # restart: always
    ports:
      - 9080:8080
    depends_on:
      - db
  elasticsearch:
    image: docker.io/bitnami/elasticsearch:7
    volumes:
      - 'elasticsearch_data:/bitnami/elasticsearch/data'
volumes:
  mariadb_data:
    driver: local
  elasticsearch_data:
    driver: local